@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h4 class="display-4">Welcome to Movie Registration App</h4>
    </div>

    <!--<a asp-action="RegistrationPage">Register Movies</a>
    </br>
    <a asp-action="ListPage">List Movies</a>-->
